html {
    scroll-behavior: smooth;
  }
  
  .navbar {
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
  
  .navbar {
    position: relative;
  }
  
  ul {
    transition: max-height 0.3s ease-in-out;
  }
  
  @media (min-width: 768px) {
    ul {
      display: flex !important;
    }
  }
  
  
  